.uploadList {
  position: relative;
  display: inline-block;
  width: 34vw;
  height: 81vh;
  margin-left: 2vw;
  padding: 0 1vw;
  border: 1px solid rgba(162, 161, 161, 0.6);
  .button {
    position: absolute;
    bottom: 10px;
    width: 32vw;
    height: 60px;
    margin-top: 32px;
    color: #fff;
    background-color: #0365ce;
  }
  // :global {
  //   .ant-upload-list-item-info > span {
  //     width: 90%;
  //   }
  // }
}
